[submodule "DKSR/DKSR-Open-UrbanPulse"]
	path = DKSR/DKSR-Open-UrbanPulse
	url = git@github.com:DKSR-Data-Competence-for-Cities-Regions/DKSR-Open-UrbanPulse.git
[submodule "DKSR/DKSR-Connector"]
	path = DKSR/DKSR-Connector
	url = git@github.com:DKSR-Data-Competence-for-Cities-Regions/DKSR-Connector.git
[submodule "VirtualCitySystems/freiburg-traffic"]
	path = VirtualCitySystems/freiburg-traffic
	url = git@github.com:virtualcitySYSTEMS/freiburg-traffic.git
[submodule "Virtual-City-Systems/freiburg-traffic"]
	path = Virtual-City-Systems/freiburg-traffic
	url = git@github.com:virtualcitySYSTEMS/freiburg-traffic.git
[submodule "Immovativ/vermarktungsplattform_os"]
	path = Immovativ/vermarktungsplattform_os
	url = https://github.com/immovativ/vermarktungsplattform_os.git
